/* src/Dashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #064052; /* Color oscuro de Docker */
  color: white;
  text-align: center;
}

.dashboard-container h1 {
  font-size: 3rem;
  color: #0db7ed; /* Color azul de Docker */
}

.dashboard-container p {
  font-size: 1.2rem;
}